body {
	scroll-behavior: smooth;
	font-family: 'Lato';
	font-size: 100%;
	background-color:rgba(10, 10, 10, 1);
	padding: 0px;
	margin: 0px;
}

.content {
	font-size: 1.2em;
	padding: 3vh;
	color: rgba(200, 200, 200, 1);
	text-align: justify;
}

.content a {
	text-decoration: none;
	color: rgba(160, 160, 160, 1);
}

.headings {
	padding: 1vh;
	color: rgba(200, 200, 200, 1);
	text-align: center;
}

.gcontainer {
	position: relative;
	display: flex;
	flex-direction: right;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.gim {
	position: relative;
	width: 400px;
	max-width: 100vw;
	height: auto;
	padding: 10px;
}

.gim img {
	display: block;
	max-height: 100%;
	max-width: 100%;
	height: 100%;
	width: 100%;
}

.over {
	position: absolute;
	bottom: 100%;
	right: 0;
	left: 0;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
	background-color: rgba(102, 6, 11, 0.5);
	overflow: hidden;
	text-align: center;
}

.over .caption {
	top: 50%;
	display: block;
	color: rgba(200, 200, 200, 1);
	padding: 20px;
	background-color: rgba(28, 1, 0, 1);
}

.over a {
	display: block;
	text-decoration: none;
	color: rgba(200, 200, 200, 1);
}

.gim:hover .over{
	bottom: 0;
	height: 100%;
}

.icons {
	position: relative;
	display: flex;
	flex-direction: right;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;	
}

.icons a {
	display: block;
	padding: 10px;
	margin: 50px;
}

.icons img {
	max-height: 100%;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	border-width: 20px;
	border-color: rgba(200, 200, 200, 1);
}
/*
h1.nav {

	background-color: black;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 1.75em;
	line-height: 2em;
	color: rgba(190, 190, 190, 1);
	text-align: center;
}
*/

.nav {
	z-index: 10;
	position: sticky;
	top: 0px;
	background-color:rgba(10, 10, 10, 1);
}

.nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	overflow: auto;
}

.nav li {
	width: 19.2%; /*fallback*/
	/*width: calc();*/
	font-size: 1.4em;
	line-height: 1.8em;
	float: left;
	overflow: hidden;
}
/*
.nav ul {
}*/

.nav a {
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: block;
	color: rgba(200, 200, 200, 1);
	background-color:rgba(10, 10, 10, 1);
}

.nav a.act {
	background-color:rgba(30, 30, 30, 1);	
}

.nav a:hover {
	background-color: rgba(20, 20, 20, 1);
}

.nav a:active {
	background-color: rgba(30, 30, 30, 1);
}
/*
.nav:after {
	margin-top: 1.8em;
}*/

/*
.profile {
	position: relative;

	height: 32px;
	width: 24px;
	border-radius: 50%;	
}*/
.boxes{
	position: relative;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
}

.plax {
	background-image: url("images/backgifsmall.gif");
	min-height: 100%;
	height: 100vh;
	opacity: 0.55;
	background-attachment: fixed;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}

.plax .boxes {
	top: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.boxes img {
	background-color: rgba(15, 15, 15, 1);
	padding: 20px;
	width: 35vh;
	height: 35vh;
	align-content: center;
	border-radius: 50%;
}

.boxes button {
	font-family: Lato;
	background-color: rgba(15, 15, 15, 1);
	font-weight: bold;
	padding: 20px;
	border: none;
	color: white;
	font-size: 1.75em;
	letter-spacing: 5px;
}

.second {
	background-image: url("images/backgif3.gif");
	min-height: 100%;
	height: 50vh;
	opacity: 0.95;
	background-attachment: fixed;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;	
}

.third {
	background-image: url("images/backgifsmall.gif");
	min-height: 100%;
	height: 50vh;
	opacity: 0.95;
	background-attachment: fixed;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;	
}

.third {
	content: "";
	display: table;
	clear: both;
}

.fourth {
	background-image: url("images/backgif4.gif");
	min-height: 100%;
	height: 100vh;
	opacity: 0.95;
	background-attachment: fixed;
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;	
}

.footer {
	height: 1.8em;
	background-color: rgba(180, 180, 180, 1);
	overflow: auto;
}
/*
.footer {
	content: "";
	display: table;
	clear: both;
}*/

.footer .ft a {
	font-size: 1.2em;
	float: left;
	text-decoration: none;
	width: 19.4%;
	text-align: center;
	display: block;
	color: rgba(10, 10, 10, 1);
}

.footer .rt a {
	font-size: 1.2em;
	float: right;
	text-decoration: none;
	width: 19.4%;
	text-align: center;
	display: block;
	color: rgba(10, 10, 10, 1);
}
/*
.paint {
	background-color: black;
	color: white;
}
/*
.boxes .paint {
	background-color: rgba(1, 1, 1, 1);
	color: white;
	font-size: 2em;
	padding: 12px 20px;
	letter-spacing: 12px;
}

/*
h1.brscalable {
	font-size: 2.6vw;
	color: rgba(220, 220, 220, 1);
}
*/
/*
.header {
}

#headr {
	position: absolute;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

h1 {
	font-family: 'Lato';
}
*/

/*
ul.header {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li.header {
	float: left;
}

a.header {
	display: block;
	width: 60px;
	padding: 5px;
	margin: 5px;
	background-color: white;
}
*/

/*#headr {
	background-color: black;
}

.header {
	margin: 0;
	padding: 0;
	float: left;
}

ul.header {
	list-style-type: none;
	text-decoration: none;
	float: right;
	overflow: hidden;
	padding: 5px;
}

li.header {
	float: left;
	display: inline-block;
}
li.header a:hover {
	background-color: grey;
}
*/